:root {
  --color-green: #20e71c;
  --color-black: #000004;
  --color-white: #ffffff;
}

@font-face {
  font-family: Poppins-Bold;
  src: url(fonts/Poppins-Bold.otf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(fonts/Poppins-Medium.otf);
}

@font-face {
  font-family: PublicSans-Black;
  src: url(fonts/PublicSans-Black.woff);
}

@font-face {
  font-family: PublicSans-Bold;
  src: url(fonts/PublicSans-Bold.woff);
}

@font-face {
  font-family: PublicSans-Italic;
  src: url(fonts/PublicSans-Italic.woff);
}

@font-face {
  font-family: PublicSans-Light;
  src: url(fonts/PublicSans-Light.woff);
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-size: 100%;
}

.bodyDiv {
  background-color: var(--color-black);
}

header {
  padding: 0 2vw;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5vh;
}

a {
  display: block;
  text-decoration: none;
  color: var(--color-white);
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.headerButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 100%;
}

.filler {
  width: 4vw;
}

.aboutLink {
  font-family: Poppins-Medium;
  font-size: 0.875em;
  font-weight: normal;
}

.contactLink {
  font-family: Poppins-Bold;
  font-size: 1em;
  padding: 13px 24px;
  background-color: var(--color-green);
  border-radius: 50px;
}

h1 {
  font-family: PublicSans-Black;
  color: var(--color-white);
  font-size: 12.5em;
  letter-spacing: -0.04em;
  line-height: 80%;
  font-weight: normal;
  margin-bottom: 0;
}

.strategicHero {
  font-family: PublicSans-Italic;
  font-weight: normal;
}

.nouveauHero {
  font-family: PublicSans-Bold;
  text-decoration: underline;
  font-weight: normal;
}

.heroFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 1000;
  font-size: 100%;
}

.bigCircles {
  position: absolute;
  top: 50vh;
  left: 49vw;
  z-index: 0;
}

.heroSection {
  height: 100vh;
  margin-bottom: 30vh;
  padding: 0 2vw;
}

.hookSection {
  padding: 0 2vw;
}

.paragraph {
  font-family: Poppins-Medium;
  font-weight: normal;
  font-size: 1.125em;
  color: var(--color-white);
  padding: 0 15vw;
  margin-bottom: 15vh;
}

.statement {
  font-family: PublicSans-Bold;
  font-weight: normal;
  font-size: 18.75em;
  color: var(--color-white);
  line-height: 90%;
  margin-top: 0;
}

.statementLight {
  font-family: PublicSans-Light;
  padding-left: 30vw;
}

h3 {
  font-family: PublicSans-Bold;
  font-weight: normal;
  color: var(--color-white);
  font-size: 3em;
}

.green {
  color: var(--color-green);
}

.subheaderFlexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowDown {
  width: 5%;
}

.workSection {
  padding: 20vh 17vw 0 17vw;
  background-color: var(--color-white);
}

.line {
  background-color: var(--color-black);
  height: 2px;
  margin-bottom: 5vh;
}

h4 {
  font-family: PublicSans-Bold;
  font-weight: normal;
  font-size: 6em;
  color: var(--color-black);
  margin: 0;
}

.previewLabel {
  font-family: Poppins-Medium;
  font-weight: normal;
  font-size: 1em;
  color: rgb(203, 203, 203);
}

.cardHeader {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.cardText {
  font-family: Poppins-Medium;
  font-weight: normal;
  font-size: 1.125em;
  color: var(--color-black);
  margin-bottom: 10vh;
}

.projectLink {
  font-family: Poppins-Medium;
  font-weight: normal;
  font-size: 1.125em;
  color: var(--color-green);
  margin-bottom: 5vh;
}

.card {
  height: 15vh;
  overflow: hidden;
}

.black {
  color: var(--color-black);
}

.subheaderWork {
  margin-top: 15vh;
}

h5 {
  font-family: PublicSans-Bold;
  font-size: 2em;
  font-weight: normal;
  color: var(--color-white);
  margin: 2vh 0;
}

.valuesText {
  font-family: Poppins-Medium;
  font-size: 1em;
  font-weight: normal;
  color: var(--color-white);
}

.valuesImage {
  width: 20%;
}

.valuesSection {
  padding: 20vh 2vw;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15%;
  margin-bottom: 15vh;
}

.contactDiv {
  padding: 0 2vw;
}

h6 {
  font-family: PublicSans-Bold;
  font-size: 8em;
  font-weight: normal;
  color: var(--color-white);
  margin: 10vh 0 5vh 0;
  letter-spacing: -3px;
  line-height: 102.5%;
}

.aboutSection {
  padding: 15vh 2vw;
}

.previewDiv {
  overflow: hidden;
  height: 3em;
}

.moveableDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1100px) {
}

@media only screen and (max-width: 850px) {
  .heroFlex {
    font-size: 90%;
  }
}

@media only screen and (max-width: 700px) {
  .heroFlex {
    font-size: 75%;
  }
}

@media only screen and (max-width: 500px) {
  .heroFlex {
    font-size: 47%;
  }
  .bigCircles {
    top: 40%;
    left: 80%;
    width: 20%;
  }
  .arrowDown {
    display: none;
  }
  .webLogo {
    width: 30%;
    content: url("media/webminified.svg");
  }
  .headerButtonContainer {
    font-size: 80%;
  }
  .contactLink {
    padding: 5px 12px;
  }
  .heroSection {
    height: 60vh;
    margin-bottom: 0vh;
  }
  .statement {
    font-size: 5.2em;
  }

  .paragraph {
    font-size: 0.875em;
  }
  h3 {
    text-align: center;
    font-size: 1.5em;
  }

  h4 {
    font-size: 2.5em;
  }

  .card {
    height: 50px;
  }

  h5 {
    font-size: 1.5em;
  }

  .valuesText {
    font-size: 0.875em;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0 10vw;
    gap: 5%;
  }

  h6 {
    font-size: 4em;
    margin-top: 0;
  }

  .contactInfo {
    text-align: left;
    font-size: 1.25em;
  }
}
